<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.title}"></title>
    <script src="bootstrap/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bootstrap/community.css">
    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${question.title}"></span></h2>
            <hr>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>发起人</h3>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>相关问题</h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>